{
  "log": {
    "_recordingName": "authFastly/authFastly rejects with bad token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "3d2172266c5e70e6dcbb3a3d4644df7a",
        "request": {
          "headers": [
            {
              "name": "fastly-key",
              "value": "bad token"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fastly.com/service/fake_service/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 53,
            "text": "{\"msg\":\"Provided credentials are missing or invalid\"}"
          },
          "headers": [
            {
              "name": "retry-after",
              "value": "0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 50,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
