{
  "log": {
    "_recordingName": "authFastly/authFastly rejects with bad serviceid",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "3d2172266c5e70e6dcbb3a3d4644df7a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fastly.com/service/fake_token/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 41121,
            "text": "[{\"service_id\":\"fakenumber\",\"locked\":true,\"created_at\":\"2019-08-07T18:40:50Z\",\"deleted_at\":null,\"number\":1,\"active\":false,\"comment\":\"\",\"staging\":false,\"updated_at\":\"2019-08-07T18:53:02Z\",\"testing\":false,\"deployed\":false}]"
          },
          "headers": [
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 203,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
