{
  "log": {
    "_recordingName": "authFastly/authFastly rejects with bad serviceid",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "3d2172266c5e70e6dcbb3a3d4644df7a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fastly.com/service/bad%20service/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 71,
            "text": "{\"msg\":\"Record not found\",\"detail\":\"Cannot find service 'bad service'\"}"
          },
          "headers": [
            {
              "name": "status",
              "value": "404 Not Found"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 362,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
